body{
    margin:auto;
    width: auto;

}
.body{
    
    
    font-size: 2em;
}
.body div{
    
     border: 0.5px solid black;
}
.display-income{
         border: 2px solid green;
         background-color:#CDFFD8;

}

.display-expense{
    border: 2px solid red;
    background-color: #FFDCE0
}

.display-balance{
    background-color: yellow;
}
display-expense element.Id {
    visibility:collapse;
}